body{
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.25fr 1fr;
}

span {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.sidebar {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.6fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    
}

#userBox {
    justify-items: end;
    font-size: 24px;
}